.footer_st {
  background-color: dimgrey;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn_st {
  border-radius: 25px;
  margin-left: 5px;
  margin-right: 5px;
  color: aliceblue !important;
  border-color: aliceblue !important;
}

.btn_st:hover {
  color: dimgrey !important;
  background-color: aliceblue !important;
}

footer {
  color: aliceblue;
}

.detail_st {
  /* display: flex; */
  align-items: center;
}